h1{
    font-size: 32px;
    margin-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
figcaption{
    font-style: italic;
}
body{
    width: 70%;
    margin-left: 15%;
}
figure{
    float: right;
}
p{
    text-align: justify;
}